.container {
    display: grid;
    justify-content: center;
    grid-template-rows: 180px 1fr 200px;
    grid-template-areas: 
    "filler"
    "buttons"
    "filler";
}
.buttons {
    grid-area: buttons;
    display: grid;
    grid-column-gap: 50px;
    justify-items: center;
    grid-template-areas:
    "rockimg paperimg scissorsimg"
    "rock paper scissors";
}
body {
    background-color: white;
}
button {
    font-size: 50px;
    background-color: white;
    border-radius: 10px;
}
button:hover {
    box-shadow: 0 0 10px 2px gold;
    transform: scale(1.1);
}